.jumbotron {
  background-image: url(http://0.tqn.com/d/gomexico/1/S/0/a/-/-/mariachi_getty.jpg);
  color: black;
  height: 420px;
  width: 600px;
}
.jumbotron h1, .jumbotron h2 {
  background: rgba(76, 175, 80, 0.7);
}
