<div class="container">
  <header class = "jumbotron">
    <h1>PREGUNTAS MARIACHI</h1>
    <h2>si te quieres conocer el mundo extravagante de las Mariachis, ¡LLEGASTE AL MEJOR LUGAR!!</h2>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'index'}}página principal{{/link-to}}
  </footer>
</div>
