
<h2>Preguntas abiertas</h2>
<ul>
  {{#each model.preguntas as |pregunta|}}
     <li>{{#link-to 'pregunta' pregunta.id}} {{pregunta.usuario}} preguntó: {{pregunta.consulta}}{{/link-to}}</li>
  {{/each}}
</ul>

{{new-pregunta save2="savePregunta"}}
